tsb_client/schema/response/DawsserviceGetDocketSummaryResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2008 sp1 (http://www.altova.com) by Perry Yao (Teranet) -->
<!--W3C Schema generated by XMLSpy v2008 rel. 2 sp1 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:include schemaLocation="Errors.xsd"/>
	<xs:include schemaLocation="StatusCode.xsd"/>
	<xs:include schemaLocation="Reference.xsd"/>		
	<xs:element name="Response">
		<xs:complexType>
			<xs:all>
				<xs:element name="ResponseBody">
					<xs:complexType>
						<xs:all>
							<xs:element name="ResponseData" type="ResponseDataType" minOccurs="0"/>
							<xs:element ref="Reference"/>
						</xs:all>
					</xs:complexType>
				</xs:element>
				<xs:element ref="Errors" minOccurs="0"/>
				<xs:element ref="StatusCode"/>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="ResponseDataType">
		<xs:sequence>
			<xs:element name="Response">
				<xs:complexType>
					<xs:all>
						<xs:element name="BillingTransactions">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="BillingTransaction" minOccurs="0" maxOccurs="unbounded">
										<xs:complexType>
											<xs:all>
												<xs:element name="SessionId" type="xs:long">
													<xs:annotation>
														<xs:documentation>Session in which this billing transaction occurred</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="SessionStartTime" type="xs:dateTime">
													<xs:annotation>
														<xs:documentation>Start time of session in which billing transaction occurred</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="Amount" type="xs:decimal">
													<xs:annotation>
														<xs:documentation>Transaction cost excluding taxes</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="HSTAmount" type="xs:decimal">
													<xs:annotation>
														<xs:documentation>Applicable GST amount</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="Description" type="xs:string">
													<xs:annotation>
														<xs:documentation>Description of charges</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="UserLoginName" type="xs:string">
													<xs:annotation>
														<xs:documentation>User that performed billing transaction</xs:documentation>
													</xs:annotation>
												</xs:element>
											</xs:all>
										</xs:complexType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:all>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
