tsb_client/schema/response/DocumentserviceDownLoadDocumentResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2008 sp1 (http://www.altova.com) by Perry Yao (Teranet) -->
<!--W3C Schema generated by XMLSpy v2008 sp1 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:include schemaLocation="Errors.xsd"/>
	<xs:include schemaLocation="StatusCode.xsd"/>
	<xs:include schemaLocation="PriceInfo.xsd"/>
	<xs:include schemaLocation="Reference.xsd"/>	
	<xs:element name="Response">
		<xs:complexType>
			<xs:all>
				<xs:element name="ResponseBody">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="ResponseData" minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="DoPurchase">
											<xs:annotation>
												<xs:documentation>If chargeable indicator is false, then there is no billing required (there is no SessionId, BillableActivityId, and PriceInfo elements)</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:all>
													<xs:element name="SessionId" type="xs:long" minOccurs="0">
														<xs:annotation>
															<xs:documentation>Teranet session id (used for refund)</xs:documentation>
														</xs:annotation>
													</xs:element>
													<xs:element name="BillableActivityId" type="xs:long" minOccurs="0">
														<xs:annotation>
															<xs:documentation>Teranet billing event id (used for refund)</xs:documentation>
														</xs:annotation>
													</xs:element>
													<xs:element name="ProductName" type="xs:string">
														<xs:annotation>
															<xs:documentation>Teranet product name</xs:documentation>
														</xs:annotation>
													</xs:element>
													<xs:element name="Quantity" type="xs:double">
														<xs:annotation>
															<xs:documentation>Product quantity</xs:documentation>
														</xs:annotation>
													</xs:element>
													<xs:element ref="PriceInfo"/>
													<xs:element name="ResponseBody">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="Plan" type="xs:boolean">
																	<xs:annotation>
																		<xs:documentation>Indicator if the document is a plan</xs:documentation>
																	</xs:annotation>
																</xs:element>
																<xs:element name="FileFormat">
																	<xs:annotation>
																		<xs:documentation>The format of the file is either PDF or TIF</xs:documentation>
																	</xs:annotation>
																</xs:element>
																<xs:element name="DOCInfo">
																	<xs:complexType>
																		<xs:sequence>
																			<xs:element name="DOC" maxOccurs="unbounded">
																				<xs:complexType>
																					<xs:all>
																						<xs:element name="FileName" type="xs:string">
																							<xs:annotation>
																								<xs:documentation>The name of the document</xs:documentation>
																							</xs:annotation>
																						</xs:element>
																						<xs:element name="FileContent" type="xs:base64Binary">
																							<xs:annotation>
																								<xs:documentation>It contains base64 encoded document</xs:documentation>
																							</xs:annotation>
																						</xs:element>
																					</xs:all>
																				</xs:complexType>
																			</xs:element>
																		</xs:sequence>
																	</xs:complexType>
																</xs:element>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
												</xs:all>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element ref="Reference"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element ref="Errors" minOccurs="0"/>
				<xs:element ref="StatusCode"/>
			</xs:all>
		</xs:complexType>
	</xs:element>
</xs:schema>
