tsb_client/schema/response/DocumentserviceSearchDocumentResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2008 sp1 (http://www.altova.com) by Perry Yao (Teranet) -->
<!--W3C Schema generated by XMLSpy v2008 rel. 2 sp1 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:include schemaLocation="Errors.xsd"/>
	<xs:include schemaLocation="StatusCode.xsd"/>
	<xs:include schemaLocation="Reference.xsd"/>	
	<xs:element name="Response">
		<xs:complexType>
			<xs:all>
				<xs:element name="ResponseBody">
					<xs:complexType>
						<xs:all>
							<xs:element name="ResponseData" type="ResponseDataType" minOccurs="0"/>
							<xs:element ref="Reference"/>
						</xs:all>
					</xs:complexType>
				</xs:element>
				<xs:element ref="Errors" minOccurs="0"/>
				<xs:element ref="StatusCode"/>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="ResponseDataType">
		<xs:all>
			<xs:element name="Response">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="RequestID" type="xs:string">
							<xs:annotation>
								<xs:documentation>The identifier generated by system for this request</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="InstrumentDocInfos">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="InstrumentDocInfo" minOccurs="0" maxOccurs="unbounded">
										<xs:complexType>
											<xs:sequence>
												<xs:element name="InstrumentNumber" type="xs:string"/>
												<xs:element name="DocumentInfo" type="DocumentInfoType" minOccurs="0" maxOccurs="unbounded"/>
												<xs:element ref="Errors" minOccurs="0"/>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:all>
	</xs:complexType>
	<xs:complexType name="DocumentInfoType">
		<xs:all>
			<xs:element name="Location" type="xs:int">
				<xs:annotation>
					<xs:documentation>Land registration office number</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DocumentName" type="xs:string">
				<xs:annotation>
					<xs:documentation>The document name</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DocumentTypeInd">
				<xs:annotation>
					<xs:documentation>I - Instrument, A - Attachement, D - Non registered document</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DocumentFormat">
				<xs:annotation>
					<xs:documentation>The format of the document is either PDF or TIF</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DocumentNumber" type="xs:string">
				<xs:annotation>
					<xs:documentation>The unique identifier generated by system for this document</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="NumOfPages" type="xs:int">
				<xs:annotation>
					<xs:documentation>Total number of pages in the document</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="IsPlan" type="xs:boolean">
				<xs:annotation>
					<xs:documentation>Indicator if the document is a plan</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:all>
	</xs:complexType>
</xs:schema>
