tsb_client/schema/response/PinserviceSearchPropertiesByInstrumentResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2008 sp1 (http://www.altova.com) by Perry Yao (Teranet) -->
<!--W3C Schema generated by XMLSpy v2008 rel. 2 sp1 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:include schemaLocation="Errors.xsd"/>
	<xs:include schemaLocation="StatusCode.xsd"/>
	<xs:include schemaLocation="Reference.xsd"/>		
	<xs:element name="Response">
		<xs:complexType>
			<xs:all>
				<xs:element name="ResponseBody">
					<xs:complexType>
						<xs:all>
							<xs:element name="ResponseData" type="ResponseDataType" minOccurs="0"/>
							<xs:element ref="Reference"/>
						</xs:all>
					</xs:complexType>
				</xs:element>
				<xs:element ref="Errors" minOccurs="0"/>
				<xs:element ref="StatusCode"/>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="ResponseDataType">
		<xs:all>
			<xs:element name="Response">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="piCount" type="xs:int">
							<xs:annotation>
								<xs:documentation>No business value</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="piFound" type="xs:int">
							<xs:annotation>
								<xs:documentation>No business value</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="PinInfo" type="PinInfoType" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:all>
	</xs:complexType>
	<xs:complexType name="PinInfoType">
		<xs:all>
			<xs:element name="PIN">
				<xs:annotation>
					<xs:documentation>Property identification number</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:pattern value="\d{5}-\d{4}"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="RegistrationType">
				<xs:annotation>
					<xs:documentation>R - Registry, L - Land titles, D - PDFR</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="StatusInd">
				<xs:annotation>
					<xs:documentation>A - Active, (I, S, C, T, D, N, E, X) - Inactive</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Address">
				<xs:annotation>
					<xs:documentation>Address of the property</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:all>
						<xs:element name="StreetName" type="xs:string"/>
						<xs:element name="StreetNumber" type="xs:string"/>
					</xs:all>
				</xs:complexType>
			</xs:element>
			<xs:element name="LegalDesc" type="xs:string">
				<xs:annotation>
					<xs:documentation>Legal description of the property</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:all>
	</xs:complexType>
</xs:schema>
