tsb_client/schema/response/WritserviceSearchWritByNameResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2008 sp1 (http://www.altova.com) by Perry Yao (Teranet) -->
<!--W3C Schema generated by XMLSpy v2008 sp1 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:include schemaLocation="Errors.xsd"/>
	<xs:include schemaLocation="StatusCode.xsd"/>
	<xs:include schemaLocation="PriceInfo.xsd"/>
	<xs:include schemaLocation="Reference.xsd"/>	
	<xs:element name="Response">
		<xs:complexType>
			<xs:all>
				<xs:element name="ResponseBody">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="ResponseData" minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="DoPurchase">
											<xs:complexType>
												<xs:all>
													<xs:element name="SessionId" type="xs:long">
														<xs:annotation>
															<xs:documentation>Teranet session id (used for refund)</xs:documentation>
														</xs:annotation>
													</xs:element>
													<xs:element name="BillableActivityId" type="xs:long">
														<xs:annotation>
															<xs:documentation>Teranet billing event id (used for refund)</xs:documentation>
														</xs:annotation>
													</xs:element>
													<xs:element name="ProductName" type="xs:string">
														<xs:annotation>
															<xs:documentation>Teranet product name</xs:documentation>
														</xs:annotation>
													</xs:element>
													<xs:element name="Quantity" type="xs:int">
														<xs:annotation>
															<xs:documentation>Product quantity</xs:documentation>
														</xs:annotation>
													</xs:element>
													<xs:element ref="PriceInfo"/>
													<xs:element name="ResponseBody">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="WritsSearchbyNameReponse">
																	<xs:complexType>
																		<xs:sequence>
																			<xs:element name="Certificate" maxOccurs="unbounded">
																				<xs:complexType>
																					<xs:sequence>
																						<xs:element name="CertificateType" minOccurs="0">
																							<xs:annotation>
																								<xs:documentation>See enum</xs:documentation>
																							</xs:annotation>
																							<xs:simpleType>
																								<xs:restriction base="xs:string">
																									<xs:enumeration value="E">
																										<xs:annotation>
																											<xs:documentation>Execution certificate</xs:documentation>
																										</xs:annotation>
																									</xs:enumeration>
																									<xs:enumeration value="C">
																										<xs:annotation>
																											<xs:documentation>Clearance certificate</xs:documentation>
																										</xs:annotation>
																									</xs:enumeration>
																								</xs:restriction>
																							</xs:simpleType>
																						</xs:element>
																						<xs:element name="CertificateRequestDate" type="xs:string" minOccurs="0">
																							<xs:annotation>
																								<xs:documentation>The certificate request date</xs:documentation>
																							</xs:annotation>
																						</xs:element>
																						<xs:element name="CertificateImage" type="xs:base64Binary">
																							<xs:annotation>
																								<xs:documentation>It contains base64 encoded image</xs:documentation>
																							</xs:annotation>
																						</xs:element>
																					</xs:sequence>
																				</xs:complexType>
																			</xs:element>
																			<xs:element name="MatchedDebtorName" minOccurs="0" maxOccurs="unbounded">
																				<xs:complexType>
																					<xs:sequence>
																						<xs:element name="ExecutionNumber" type="xs:string">
																							<xs:annotation>
																								<xs:documentation>Number of filed execution against name</xs:documentation>
																							</xs:annotation>
																						</xs:element>
																						<xs:element name="GivenName" type="xs:string">
																							<xs:annotation>
																								<xs:documentation>First and Middle names for a debtor or first 60 characters of a company name</xs:documentation>
																							</xs:annotation>
																						</xs:element>
																						<xs:element name="LastName" type="xs:string" minOccurs="0">
																							<xs:annotation>
																								<xs:documentation>Debtor lastname or the remainder of the company name (up to 60 char)</xs:documentation>
																							</xs:annotation>
																						</xs:element>
																					</xs:sequence>
																				</xs:complexType>
																			</xs:element>
																		</xs:sequence>
																	</xs:complexType>
																</xs:element>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
												</xs:all>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element ref="Reference"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element ref="Errors" minOccurs="0"/>
				<xs:element ref="StatusCode"/>
			</xs:all>
		</xs:complexType>
	</xs:element>
</xs:schema>
