tsb_uat_clinet/schema/Request/DawsserviceGetDocketSummaryRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2008 sp1 (http://www.altova.com) by Perry Yao (Teranet) -->
<!--W3C Schema generated by XMLSpy v2008 rel. 2 sp1 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:include schemaLocation="DepositAccountCredentials.xsd"/>
	<xs:element name="Request">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="DepositAcctCredentials"/>
				<xs:element name="DocketSystemID">
					<xs:annotation>
						<xs:documentation>Must belong to the account specified in TeraviewAcctNum element</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:long">
							<xs:minInclusive value="0"/>
							<xs:maxInclusive value="999999999999"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="StartDate" type="xs:dateTime">
					<xs:annotation>
						<xs:documentation>Report start date and time. Must be in the past and less than EndDate</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="EndDate" type="xs:dateTime">
					<xs:annotation>
						<xs:documentation>Report end date and time</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
