tsb_uat_clinet/schema/Request/DawsserviceCreateDocketRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2008 sp1 (http://www.altova.com) by Perry Yao (Teranet) -->
<!--W3C Schema generated by XMLSpy v2008 rel. 2 sp1 (http://www.altova.com) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:include schemaLocation="DepositAccountCredentials.xsd" />
	<xs:element name="Request">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="DepositAcctCredentials" />
				<xs:element name="DocketName" type="xs:string">
					<xs:annotation>
						<xs:documentation>Full name/description assigned by customer to
							the docket</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="DocketId" type="xs:string">
					<xs:annotation>
						<xs:documentation>Identifier assigned by customer to the docket
						</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
