tsb_uat_clinet/schema/Request/DawsserviceSearchDocketByIdRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2008 sp1 (http://www.altova.com) by Perry Yao (Teranet) -->
<!--W3C Schema generated by XMLSpy v2008 rel. 2 sp1 (http://www.altova.com) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:include schemaLocation="DepositAccountCredentials.xsd" />
	<xs:element name="Request">
		<xs:annotation>
			<xs:documentation>Request to search docket by docket id
			</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="DepositAcctCredentials" />
				<xs:element name="SearchCriteria">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="DocketId" type="xs:string">
								<xs:annotation>
									<xs:documentation>DocketId (a.k.a. Identifier) assigned by
										customer to the docket. Wildcard searches supported (*-matches
										any characters, %-matches any characters, _-matches one
										character).
									</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="IsActive" type="xs:boolean">
								<xs:annotation>
									<xs:documentation>When true, limits result to active docket(s).
										When false, both active and inactive docket(s) returned.
									</xs:documentation>
								</xs:annotation>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
