tsb_uat_clinet/schema/Request/DocumentserviceSearchDocumentRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2008 sp1 (http://www.altova.com) by Perry Yao (Teranet) -->
<!--W3C Schema generated by XMLSpy v2008 rel. 2 sp1 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:include schemaLocation="DepositAccountCredentials.xsd"/>
	<xs:element name="Request">
		<xs:annotation>
			<xs:documentation>Request to search document</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:all>
				<xs:element ref="DepositAcctCredentials"/>
				<xs:element name="LRO" type="xs:int">
					<xs:annotation>
						<xs:documentation>Land registration office number</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="InstrumentNumbers">
					<xs:annotation>
						<xs:documentation>The list of the instruments to be searched</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="InstrumentNumber" type="xs:string" maxOccurs="600"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="ViewKey">
					<xs:annotation>
						<xs:documentation>See enum</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:enumeration value="ALL"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
			</xs:all>
		</xs:complexType>
	</xs:element>
</xs:schema>
