tsb_uat_clinet/schema/Request/DocumentserviceDownLoadDocumentRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2008 sp1 (http://www.altova.com) by Perry Yao (Teranet) -->
<!--W3C Schema generated by XMLSpy v2008 rel. 2 sp1 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:include schemaLocation="PaymentMethod.xsd"/>
	<xs:element name="DoPurchase">
		<xs:annotation>
			<xs:documentation>Request to purchase documents</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Description" type="xs:string">
					<xs:annotation>
						<xs:documentation>Expected format of Inst#:instrument</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="DocketSystemID">
					<xs:simpleType>
						<xs:restriction base="xs:long">
							<xs:minInclusive value="0"/>
							<xs:maxInclusive value="999999999999"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="LocationID" type="xs:short">
					<xs:annotation>
						<xs:documentation>Land registration office number</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="RequestBody" type="RequestBodyType">
					<xs:annotation>
						<xs:documentation>Contains request to document service</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="PaymentMethod"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<!--  RequestBody -->
	<xs:complexType name="RequestBodyType">
		<xs:sequence>
			<xs:element name="DownLoadDocumentRequest">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="LRO" type="xs:int">
							<xs:annotation>
								<xs:documentation>Land registration office number</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="InstrumentNumber" type="xs:string">
							<xs:annotation>
								<xs:documentation>Instrument number</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="ViewKey">
							<xs:annotation>
								<xs:documentation>See enum</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="ALL"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="DocumentName" type="xs:string">
							<xs:annotation>
								<xs:documentation>Document name</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="DocumentNumber" type="xs:string">
							<xs:annotation>
								<xs:documentation>The unique identifier generated by system as returned by the search documents</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="StartPage" type="xs:int">
							<xs:annotation>
								<xs:documentation>First page of the range to download</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="EndPage" type="xs:int">
							<xs:annotation>
								<xs:documentation>Last page of the range to download</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="ConcatenateRequired" type="xs:boolean">
							<xs:annotation>
								<xs:documentation>If document type is TIF and numPages 'is greater than 1' then this value is set to 'true'. Otherwise 'false'</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="ConvertTiffToPDFRequired" type="xs:boolean">
							<xs:annotation>
								<xs:documentation>If document type is TIF and IsPlan equals 'false' then this value is set to 'true'. Otherwise 'false'</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
