tsb_uat_clinet/schema/Request/MapserviceGetAdjacentMapRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2008 sp1 (http://www.altova.com) by Perry Yao (Teranet) -->
<!--W3C Schema generated by XMLSpy v2008 rel. 2 sp1 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:include schemaLocation="PaymentMethod.xsd"/>
	<xs:element name="DoPurchase">
		<xs:annotation>
			<xs:documentation>Request to purchase map</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Description" type="xs:string">
					<xs:annotation>
						<xs:documentation>Expected format of PIN: XXXXX-XXXX</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="DocketSystemID">
					<xs:annotation>
						<xs:documentation>Value of this is returned from the creator of search docket</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:long">
							<xs:minInclusive value="0"/>
							<xs:maxInclusive value="999999999999"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="LocationID" type="xs:short">
					<xs:annotation>
						<xs:documentation>Land registration office number</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="RequestBody" type="RequestBodyType">
					<xs:annotation>
						<xs:documentation>Contain request to map service</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="PaymentMethod"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="RequestBodyType">
		<xs:sequence>
			<xs:element name="MappingRequest">
				<xs:annotation>
					<xs:documentation>Contains parameters to map service</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence>
						<xs:element name="jobType">
							<xs:annotation>
								<xs:documentation>See enum</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="admap"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="pinValue">
							<xs:annotation>
								<xs:documentation>The PIN for the map requested. Expected format of PIN: XXXXX-XXXX</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:pattern value="\d{5}-\d{4}"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="version">
							<xs:annotation>
								<xs:documentation>See enum</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="1.1"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="custrefno" type="xs:string" minOccurs="0">
							<xs:annotation>
								<xs:documentation>user reference number</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="includeRoadsInd">
							<xs:annotation>
								<xs:documentation>Indicator if roads will be returned as part of adjacent properties. See enum</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="true"/>
									<xs:enumeration value="false"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="includeRailRoadsInd">
							<xs:annotation>
								<xs:documentation>Indicator if railroads will be returned as part of adjacent properties. See enum</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="true"/>
									<xs:enumeration value="false"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
