tsb_uat_clinet/schema/Request/PinserviceSearchPropertiesByOwnerNameRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2008 sp1 (http://www.altova.com) by Perry Yao (Teranet) -->
<!--W3C Schema generated by XMLSpy v2008 rel. 2 sp1 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:include schemaLocation="DepositAccountCredentials.xsd"/>
	<xs:element name="Request">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="DepositAcctCredentials"/>
				<xs:element name="LRO" type="xs:short">
					<xs:annotation>
						<xs:documentation>Land registration office number</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="FirstName" type="xs:string" minOccurs="0">
					<xs:annotation>
						<xs:documentation>First and middle name returned from search by owner</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="LastName" type="xs:string">
					<xs:annotation>
						<xs:documentation>Last name returned from search by owner, or company name</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
