tsb_uat_clinet/schema/Request/PinserviceGetParcelRegisterRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2008 sp1 (http://www.altova.com) by Perry Yao (Teranet) -->
<!--W3C Schema generated by XMLSpy v2008 rel. 2 sp1 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:include schemaLocation="PaymentMethod.xsd"/>
	<xs:element name="DoPurchase">
		<xs:annotation>
			<xs:documentation>Request to purchase parcel register</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Description" type="xs:string">
					<xs:annotation>
						<xs:documentation>Expected format of PIN: XXXXX-XXXX</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="DocketSystemID">
					<xs:annotation>
						<xs:documentation>Value of this is returned from the creator of search docket</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:long">
							<xs:minInclusive value="0"/>
							<xs:maxInclusive value="999999999999"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="LocationID" type="xs:short">
					<xs:annotation>
						<xs:documentation>Land registration office number</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="RequestBody" type="RequestBodyType">
					<xs:annotation>
						<xs:documentation>Contains request to parcel register service</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element ref="PaymentMethod"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="RequestBodyType">
		<xs:sequence>
			<xs:element name="ParcelRegisterRequest">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="LRO" type="xs:short">
							<xs:annotation>
								<xs:documentation>Land registration office number</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="PIN">
							<xs:annotation>
								<xs:documentation>Property identification number</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:pattern value="\d{5}-\d{4}"/>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
						<xs:element name="IncludeDeletedFlag" type="xs:boolean">
							<xs:annotation>
								<xs:documentation>Specifies whether to return deleted documents as part of the parcel register</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="PreparedBy" type="xs:string">
							<xs:annotation>
								<xs:documentation>Teranet user</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="Language">
							<xs:annotation>
								<xs:documentation>See enum</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="E">
										<xs:annotation>
											<xs:documentation>English</xs:documentation>
										</xs:annotation>
									</xs:enumeration>
									<xs:enumeration value="F">
										<xs:annotation>
											<xs:documentation>French</xs:documentation>
										</xs:annotation>
									</xs:enumeration>
								</xs:restriction>
							</xs:simpleType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
