tsb_uat_clinet/schema/Request/PinserviceSearchPropertyOwnerNamesRequest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2008 sp1 (http://www.altova.com) by Perry Yao (Teranet) -->
<!--W3C Schema generated by XMLSpy v2008 rel. 2 sp1 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:include schemaLocation="DepositAccountCredentials.xsd"/>
	<xs:element name="Request">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="DepositAcctCredentials"/>
				<xs:element name="LRO" type="xs:short">
					<xs:annotation>
						<xs:documentation>Land registration office number</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="FirstName" type="xs:string" minOccurs="0">
					<xs:annotation>
						<xs:documentation>First and middle name of the owners. Partial search is allowed</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="LastName">
					<xs:annotation>
						<xs:documentation>Last name of the owners, or company name. Partial search is allowed</xs:documentation>
					</xs:annotation>
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:minLength value="2"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
