tsb_uat_clinet/schema/response/DawsserviceCreateDocketResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2008 sp1 (http://www.altova.com) by Perry Yao (Teranet) -->
<!--W3C Schema generated by XMLSpy v2008 rel. 2 sp1 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:include schemaLocation="Errors.xsd"/>
	<xs:include schemaLocation="StatusCode.xsd"/>
	<xs:include schemaLocation="Reference.xsd"/>		
	<xs:element name="Response">
		<xs:complexType>
			<xs:all>
				<xs:element name="ResponseBody">
					<xs:complexType>
						<xs:all>
							<xs:element name="ResponseData" type="ResponseDataType" minOccurs="0"/>
							<xs:element ref="Reference"/>
						</xs:all>
					</xs:complexType>
				</xs:element>
				<xs:element ref="Errors" minOccurs="0"/>
				<xs:element ref="StatusCode"/>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="ResponseDataType">
		<xs:sequence>
			<xs:element name="Response">
				<xs:complexType>
					<xs:all>
						<xs:element name="DocketSystemId" type="xs:long" minOccurs="0">
							<xs:annotation>
								<xs:documentation>The unique Teranet system id for the docket that was created</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:all>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
