tsb_uat_clinet/schema/response/MapserviceGetAdjacentMapResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2008 sp1 (http://www.altova.com) by Perry Yao (Teranet) -->
<!--W3C Schema generated by XMLSpy v2008 sp1 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:include schemaLocation="Errors.xsd"/>
	<xs:include schemaLocation="StatusCode.xsd"/>
	<xs:include schemaLocation="PriceInfo.xsd"/>
	<xs:include schemaLocation="Reference.xsd"/>	
	<xs:element name="AdjacentParcel">
		<xs:complexType>
			<xs:attribute name="Type" type="xs:string" use="required">
				<xs:annotation>
					<xs:documentation>R - Road Parcel, P - Regular Parcel, I - Indian Lands Parcel, D - Disjoint Surface Parcel, ? - Unknown, M - Many to Many, 0 - Unknown, X - Railway Parcel, C - Surface Condo Parcel, B - Undefined Boundary Parcels, O - Other, N - Unknown number of Properties Parcel, F - Disjoint Condo Parcel</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="Distance" type="xs:string" use="required">
				<xs:annotation>
					<xs:documentation>Distance from subject property expressed in metres</xs:documentation>
				</xs:annotation>
			</xs:attribute>
			<xs:attribute name="PIN" type="xs:string" use="required"/>
			<xs:attribute name="LRO" type="xs:short" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="LegendEntry">
		<xs:complexType>
			<xs:attribute name="type" type="xs:string" use="required"/>
			<xs:attribute name="blue" type="xs:string" use="required"/>
			<xs:attribute name="green" type="xs:string" use="required"/>
			<xs:attribute name="red" type="xs:string" use="required"/>
			<xs:attribute name="layer" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="PartyTo" type="xs:string"/>
	<xs:element name="PartyToList">
		<xs:complexType>
			<xs:sequence minOccurs="0" maxOccurs="unbounded">
				<xs:element ref="PartyTo"/>
			</xs:sequence>
			<xs:attribute name="count" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="SubjectPropertyReport">
		<xs:complexType>
			<xs:all>
				<xs:element name="Metadata">
					<xs:complexType>
						<xs:all>
							<xs:element name="JobStatus" type="xs:string">
								<xs:annotation>
									<xs:documentation>Successful / Unsuccessful</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="JobType">
								<xs:annotation>
									<xs:documentation>See enum</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:enumeration value="admap"/>
										<xs:enumeration value="shmr"/>
										<xs:enumeration value="mspr"/>
										<xs:enumeration value="shr"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="TeranetJobId" type="xs:string">
								<xs:annotation>
									<xs:documentation>Job number</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="CustomerReferenceNumber" type="xs:string">
								<xs:annotation>
									<xs:documentation>Customer file number</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="JobExecutionTime" type="xs:dateTime">
								<xs:annotation>
									<xs:documentation>Date and time of job execution.</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="MapStatus" type="xs:string">
								<xs:annotation>
									<xs:documentation>Whether the map is available or not</xs:documentation>
								</xs:annotation>
							</xs:element>
						</xs:all>
					</xs:complexType>
				</xs:element>
				<xs:element name="PII">
					<xs:complexType>
						<xs:all>
							<xs:element name="PIN">
								<xs:annotation>
									<xs:documentation>Property identification number</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:minLength value="10"/>
										<xs:maxLength value="10"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="StreetName" type="xs:string">
								<xs:annotation>
									<xs:documentation>Name of the street where the property resides</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="Area">
								<xs:complexType mixed="true">
									<xs:attribute name="units" type="xs:string" use="required">
										<xs:annotation>
											<xs:documentation>Area and units for parcel area (size)</xs:documentation>
										</xs:annotation>
									</xs:attribute>
								</xs:complexType>
							</xs:element>
							<xs:element name="Description" type="xs:string"/>
							<xs:element name="StreetNumber" type="xs:string">
								<xs:annotation>
									<xs:documentation>Number of the street where the property resides</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="CondoSuiteNumber" type="xs:string">
								<xs:annotation>
									<xs:documentation>Condo suite if available</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="LandRegistryStatus">
								<xs:annotation>
									<xs:documentation>Status is either 'ACTIVE' or 'INACTIVE'</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="RegistrationType" type="xs:string"/>
							<xs:element name="Municipality" type="xs:string">
								<xs:annotation>
									<xs:documentation>Name of the municipality where the property resides</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="Perimeter">
								<xs:annotation>
									<xs:documentation>Length of the property perimeter and the units</xs:documentation>
								</xs:annotation>
								<xs:complexType mixed="true">
									<xs:attribute name="units" type="xs:string" use="required"/>
								</xs:complexType>
							</xs:element>
							<xs:element name="AssessmentRollNumber" type="xs:string">
								<xs:annotation>
									<xs:documentation>Assessment roll number if available</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="LRO" type="xs:string">
								<xs:annotation>
									<xs:documentation>Land registration office number</xs:documentation>
								</xs:annotation>
							</xs:element>
						</xs:all>
					</xs:complexType>
				</xs:element>
				<xs:element ref="PartyToList" minOccurs="0"/>
				<xs:element name="SalesHistoryList" minOccurs="0">
					<xs:complexType>
						<xs:sequence minOccurs="0" maxOccurs="unbounded">
							<xs:element name="SalesHistoryEntry">
								<xs:complexType>
									<xs:all>
										<xs:element name="RegistrationDate" type="xs:date"/>
										<xs:element name="InstrumentNumber" type="xs:string"/>
										<xs:element ref="PartyToList"/>
										<xs:element name="ConsiderationAmount" type="xs:string"/>
										<xs:element name="InstrumentType" type="xs:string"/>
									</xs:all>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<xs:attribute name="count" type="xs:string" use="required"/>
					</xs:complexType>
				</xs:element>
				<xs:element name="SubjectPropertyMap" minOccurs="0">
					<xs:complexType>
						<xs:all>
							<xs:element name="EncodedMap" type="xs:base64Binary">
								<xs:annotation>
									<xs:documentation>It contains base64 encoded PNG format file</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="ScalePixels" type="xs:int">
								<xs:annotation>
									<xs:documentation>Corresponding distance in pixels for the above scale bar</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="ScaleDistance" type="xs:string">
								<xs:annotation>
									<xs:documentation>Distance in metres for the scale bar</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="MapPIN">
								<xs:annotation>
									<xs:documentation>Pin that is displayed in the map</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:minLength value="10"/>
										<xs:maxLength value="10"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="Legend">
								<xs:annotation>
									<xs:documentation>Legend entries describing the map features</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:choice>
										<xs:element ref="LegendEntry" maxOccurs="unbounded"/>
									</xs:choice>
								</xs:complexType>
							</xs:element>
						</xs:all>
					</xs:complexType>
				</xs:element>
				<xs:element name="AdjacentParcels">
					<xs:complexType>
						<xs:choice>
							<xs:element ref="AdjacentParcel" minOccurs="0" maxOccurs="unbounded"/>
						</xs:choice>
						<xs:attribute name="count" type="xs:int" use="required"/>
					</xs:complexType>
				</xs:element>
				<xs:element name="Disclaimer">
					<xs:annotation>
						<xs:documentation>Notes and disclaimers about the map content</xs:documentation>
					</xs:annotation>
					<xs:complexType mixed="true">
						<xs:all>
							<xs:element name="map" type="xs:string" minOccurs="0"/>
							<xs:element name="report" type="xs:string"/>
							<xs:element name="currency_of_information" type="xs:string"/>
							<xs:element name="coverage" type="xs:string"/>
							<xs:element name="completeness" type="xs:string"/>
						</xs:all>
					</xs:complexType>
				</xs:element>
			</xs:all>
		</xs:complexType>
	</xs:element>
	<xs:element name="Response">
		<xs:complexType>
			<xs:all>
				<xs:element name="ResponseBody">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="ResponseData" minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="DoPurchase">
											<xs:annotation>
												<xs:documentation>If MapStatus in MappingResponse/Metadata is not "Successful", then there is no billing needed (There is no SessionId, BillableActivityId, and PriceInfo).</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:sequence>
													<xs:element name="SessionId" type="xs:long" minOccurs="0">
														<xs:annotation>
															<xs:documentation>Teranet session id (used for refund)</xs:documentation>
														</xs:annotation>
													</xs:element>
													<xs:element name="BillableActivityId" type="xs:long" minOccurs="0">
														<xs:annotation>
															<xs:documentation>Teranet billing event id (used for refund)</xs:documentation>
														</xs:annotation>
													</xs:element>
													<xs:element name="ProductName" type="xs:string">
														<xs:annotation>
															<xs:documentation>Teranet product name</xs:documentation>
														</xs:annotation>
													</xs:element>
													<xs:element name="Quantity" type="xs:double">
														<xs:annotation>
															<xs:documentation>Product quantity</xs:documentation>
														</xs:annotation>
													</xs:element>
													<xs:element ref="PriceInfo"/>
													<xs:element name="ResponseBody">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="MappingResponse">
																	<xs:complexType>
																		<xs:sequence>
																			<xs:element ref="SubjectPropertyReport"/>
																		</xs:sequence>
																	</xs:complexType>
																</xs:element>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element ref="Reference"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element ref="Errors" minOccurs="0"/>
				<xs:element ref="StatusCode"/>
			</xs:all>
		</xs:complexType>
	</xs:element>
</xs:schema>
