tsb_uat_clinet/schema/response/PinserviceGetParcelRegisterResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2008 sp1 (http://www.altova.com) by Perry Yao (Teranet) -->
<!--W3C Schema generated by XMLSpy v2008 sp1 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:include schemaLocation="Errors.xsd"/>
	<xs:include schemaLocation="StatusCode.xsd"/>
	<xs:include schemaLocation="PriceInfo.xsd"/>
	<xs:include schemaLocation="Reference.xsd"/>	
	<xs:element name="Response">
		<xs:complexType>
			<xs:all>
				<xs:element name="ResponseBody">
					<xs:complexType>
						<xs:all>
							<xs:element name="ResponseData" minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="DoPurchase">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="SessionId" type="xs:long">
														<xs:annotation>
															<xs:documentation>Teranet session id (used for refund)</xs:documentation>
														</xs:annotation>
													</xs:element>
													<xs:element name="BillableActivityId" type="xs:long" maxOccurs="2">
														<xs:annotation>
															<xs:documentation>Teranet billing event id (used for refund)</xs:documentation>
														</xs:annotation>
													</xs:element>
													<xs:element name="ProductName" type="xs:string">
														<xs:annotation>
															<xs:documentation>Teranet product name</xs:documentation>
														</xs:annotation>
													</xs:element>
													<xs:element name="Quantity" type="xs:double">
														<xs:annotation>
															<xs:documentation>Product quantity</xs:documentation>
														</xs:annotation>
													</xs:element>
													<xs:element ref="PriceInfo"/>
													<xs:element name="ResponseBody">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="ParcelRegisterResponse">
																	<xs:complexType>
																		<xs:all>
																			<xs:element name="ParcelXML">
																				<xs:annotation>
																					<xs:documentation>The contents of the parcel register in XML format</xs:documentation>
																				</xs:annotation>
																				<xs:complexType>
																					<xs:sequence>
																						<xs:element name="parcel-register">
																							<xs:complexType>
																								<xs:sequence>
																									<xs:element name="header">
																										<xs:complexType>
																											<xs:sequence>
																												<xs:element name="provider" type="xs:string">
																													<xs:annotation>
																														<xs:documentation>Ministry of Government and Consumer Services</xs:documentation>
																													</xs:annotation>
																												</xs:element>
																												<xs:element name="title" type="xs:string"/>
																												<xs:element name="subtitle" type="xs:string"/>
																												<xs:element name="lro" type="xs:short">
																													<xs:annotation>
																														<xs:documentation>Land registration office number</xs:documentation>
																													</xs:annotation>
																												</xs:element>
																												<xs:element name="pin" type="xs:string"/>
																												<xs:element name="status">
																													<xs:annotation>
																														<xs:documentation>A - Active, (I, S, C, T, D, N, E, X) - Inactive</xs:documentation>
																													</xs:annotation>
																												</xs:element>
																												<xs:element name="registration-type">
																													<xs:annotation>
																														<xs:documentation>R - Registry, LT - Land titles</xs:documentation>
																													</xs:annotation>
																												</xs:element>
																												<xs:element name="prepared-for" type="xs:string">
																													<xs:annotation>
																														<xs:documentation>Teranet user name</xs:documentation>
																													</xs:annotation>
																												</xs:element>
																												<xs:element name="creation-time" type="xs:string"/>
																											</xs:sequence>
																										</xs:complexType>
																									</xs:element>
																									<xs:element name="property-description">
																										<xs:complexType>
																											<xs:sequence>
																												<xs:element name="description-text" type="xs:string"/>
																											</xs:sequence>
																										</xs:complexType>
																									</xs:element>
																									<xs:element name="property-remarks" type="xs:string" minOccurs="0"/>
																									<xs:element name="estate">
																										<xs:complexType>
																											<xs:sequence>
																												<xs:element name="description" type="xs:string"/>
																											</xs:sequence>
																										</xs:complexType>
																									</xs:element>
																									<xs:element name="qualifier">
																										<xs:complexType>
																											<xs:sequence>
																												<xs:element name="description" type="xs:string"/>
																											</xs:sequence>
																										</xs:complexType>
																									</xs:element>
																									<xs:element name="recently">
																										<xs:complexType>
																											<xs:sequence>
																												<xs:element name="description" type="xs:string"/>
																											</xs:sequence>
																										</xs:complexType>
																									</xs:element>
																									<xs:element name="pin-creation-date" type="xs:string"/>
																									<xs:element name="owners-list">
																										<xs:complexType>
																											<xs:sequence>
																												<xs:element name="owner" minOccurs="0" maxOccurs="unbounded">
																													<xs:complexType>
																														<xs:sequence>
																															<xs:element name="name" type="xs:string"/>
																															<xs:element name="capacity">
																																<xs:complexType>
																																	<xs:sequence>
																																		<xs:element name="code" type="xs:string"/>
																																	</xs:sequence>
																																</xs:complexType>
																															</xs:element>
																															<xs:element name="share" type="xs:string"/>
																														</xs:sequence>
																													</xs:complexType>
																												</xs:element>
																											</xs:sequence>
																										</xs:complexType>
																									</xs:element>
																									<xs:element name="notes" minOccurs="0" maxOccurs="unbounded">
																										<xs:complexType>
																											<xs:sequence>
																												<xs:element name="title-qualifier" type="xs:string"/>
																											</xs:sequence>
																										</xs:complexType>
																									</xs:element>
																									<xs:element name="instruments-list">
																										<xs:complexType>
																											<xs:sequence>
																												<xs:element name="instrument" minOccurs="0" maxOccurs="unbounded">
																													<xs:complexType>
																														<xs:sequence>
																															<xs:element name="regnumber" type="xs:string"/>
																															<xs:element name="regdate" type="xs:string"/>
																															<xs:element name="type">
																																<xs:complexType>
																																	<xs:sequence>
																																		<xs:element name="short-description" type="xs:string"/>
																																	</xs:sequence>
																																</xs:complexType>
																															</xs:element>
																															<xs:element name="amount" type="xs:string" minOccurs="0"/>
																															<xs:element name="status">
																																<xs:annotation>
																																	<xs:documentation>D - Deleted, P - Partially deleted, ""(blank) - Not certified, C - Certified</xs:documentation>
																																</xs:annotation>
																															</xs:element>
																															<xs:element name="party-from-list">
																																<xs:complexType>
																																	<xs:sequence>
																																		<xs:element name="party-from" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
																																	</xs:sequence>
																																</xs:complexType>
																															</xs:element>
																															<xs:element name="party-to-list">
																																<xs:complexType>
																																	<xs:sequence>
																																		<xs:element name="party-to" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
																																	</xs:sequence>
																																</xs:complexType>
																															</xs:element>
																															<xs:element name="remark-list">
																																<xs:complexType>
																																	<xs:sequence>
																																		<xs:element name="remark" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
																																	</xs:sequence>
																																</xs:complexType>
																															</xs:element>
																															<xs:element name="correction-list">
																																<xs:complexType>
																																	<xs:sequence>
																																		<xs:element name="correction" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
																																	</xs:sequence>
																																</xs:complexType>
																															</xs:element>
																														</xs:sequence>
																													</xs:complexType>
																												</xs:element>
																											</xs:sequence>
																										</xs:complexType>
																									</xs:element>
																									<xs:element name="footer">
																										<xs:complexType>
																											<xs:sequence>
																												<xs:element name="note" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
																											</xs:sequence>
																										</xs:complexType>
																									</xs:element>
																								</xs:sequence>
																							</xs:complexType>
																						</xs:element>
																					</xs:sequence>
																				</xs:complexType>
																			</xs:element>
																			<xs:element name="ParcelImage">
																				<xs:annotation>
																					<xs:documentation>It contains base64 encoded PDF format file</xs:documentation>
																				</xs:annotation>
																				<xs:complexType>
																					<xs:simpleContent>
																						<xs:extension base="xs:base64Binary">
																							<xs:attribute name="pageNumber" type="xs:int" use="required">
																								<xs:annotation>
																									<xs:documentation>Total number of pages in PDF</xs:documentation>
																								</xs:annotation>
																							</xs:attribute>
																						</xs:extension>
																					</xs:simpleContent>
																				</xs:complexType>
																			</xs:element>
																			<xs:element name="ParcelStatus">
																				<xs:annotation>
																					<xs:documentation>A - Active, (I, S, C, T, D, N, E, X) - Inactive</xs:documentation>
																				</xs:annotation>
																			</xs:element>
																		</xs:all>
																	</xs:complexType>
																</xs:element>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element ref="Reference"/>
						</xs:all>
					</xs:complexType>
				</xs:element>
				<xs:element ref="Errors" minOccurs="0"/>
				<xs:element ref="StatusCode"/>
			</xs:all>
		</xs:complexType>
	</xs:element>
</xs:schema>
