tsb_uat_clinet/schema/response/WritserviceGetWritDetailResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2008 sp1 (http://www.altova.com) by Perry Yao (Teranet) -->
<!--W3C Schema generated by XMLSpy v2008 sp1 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:include schemaLocation="Errors.xsd"/>
	<xs:include schemaLocation="StatusCode.xsd"/>
	<xs:include schemaLocation="PriceInfo.xsd"/>
	<xs:include schemaLocation="Reference.xsd"/>	
	<xs:element name="Response">
		<xs:complexType>
			<xs:all>
				<xs:element name="ResponseBody">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="ResponseData" minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="DoPurchase">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="SessionId" type="xs:long">
														<xs:annotation>
															<xs:documentation>Teranet session id (used for refund)</xs:documentation>
														</xs:annotation>
													</xs:element>
													<xs:element name="BillableActivityId" type="xs:long">
														<xs:annotation>
															<xs:documentation>Teranet billing event id (used for refund)</xs:documentation>
														</xs:annotation>
													</xs:element>
													<xs:element name="ProductName" type="xs:string">
														<xs:annotation>
															<xs:documentation>Teranet product name</xs:documentation>
														</xs:annotation>
													</xs:element>
													<xs:element name="Quantity" type="xs:double">
														<xs:annotation>
															<xs:documentation>Product quantity</xs:documentation>
														</xs:annotation>
													</xs:element>
													<xs:element ref="PriceInfo"/>
													<xs:element name="ResponseBody">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="WritsGetDetailReponse">
																	<xs:annotation>
																		<xs:documentation>Teranet only supplies AggregateField in Creditors, Solicitors, and Defendants nodes</xs:documentation>
																	</xs:annotation>																	
																	<xs:complexType>
																		<xs:all>
																			<xs:element name="Creditors">
																				<xs:complexType>
																					<xs:sequence>
																						<xs:element name="Creditor" maxOccurs="unbounded">
																							<xs:complexType>
																								<xs:all>
																									<xs:element name="Address" type="xs:string" minOccurs="0"/>
																									<xs:element name="City" type="xs:string" minOccurs="0"/>
																									<xs:element name="Country" type="xs:string" minOccurs="0"/>
																									<xs:element name="CompanyName" type="xs:string" minOccurs="0"/>
																									<xs:element name="CreditorType" type="xs:string" fixed=""/>
																									<!-- V11.1 <xs:element name="CreditorType" type="xs:string" minOccurs="0"/> -->
																									<xs:element name="Email" type="xs:string" minOccurs="0"/>
																									<xs:element name="Fax" type="xs:string" minOccurs="0"/>
																									<xs:element name="FileNumber" type="xs:string" fixed=""/>
																									<!-- V11.1 <xs:element name="FileNumber" type="xs:string" minOccurs="0"/> -->
																									<xs:element name="GivenName" type="xs:string" minOccurs="0"/>
																									<xs:element name="PostalCode" type="xs:string" minOccurs="0"/>
																									<xs:element name="Province" type="xs:string" minOccurs="0"/>
																									<xs:element name="SurName" type="xs:string" minOccurs="0"/>
																									<xs:element name="Telephone" type="xs:string" minOccurs="0"/>
																									<xs:element name="EOfficeId" type="xs:string" fixed=""/>
																									<!-- V11.1 <xs:element name="EOfficeId" type="xs:short" minOccurs="0"/> -->
																									<xs:element name="AggregateField" type="xs:string" minOccurs="0"/>
																									<xs:element name="CreditorId" type="xs:string" fixed=""/>
																									<xs:element name="RecordType" type="xs:string" fixed=""/>
																									<!-- V11.1
																									<xs:element name="CreditorId" type="xs:long"/>
																									<xs:element name="RecordType">
																										<xs:simpleType>
																											<xs:restriction base="xs:string">
																												<xs:enumeration value="A">
																													<xs:annotation>
																														<xs:documentation>Aggregated record</xs:documentation>
																													</xs:annotation>
																												</xs:enumeration>
																												<xs:enumeration value="D">
																													<xs:annotation>
																														<xs:documentation>Detailed record</xs:documentation>
																													</xs:annotation>
																												</xs:enumeration>
																											</xs:restriction>
																										</xs:simpleType>
																									</xs:element>
																									-->
																								</xs:all>
																							</xs:complexType>
																						</xs:element>
																					</xs:sequence>
																				</xs:complexType>
																			</xs:element>
																			<xs:element name="Debtors">
																				<xs:complexType>
																					<xs:sequence>
																						<xs:element name="Debtor" maxOccurs="unbounded">
																							<xs:complexType>
																								<xs:all>
																									<xs:element name="EOfficeId" type="xs:string" fixed=""/>
																									<xs:element name="DebtorId" type="xs:string" fixed=""/>
																									<xs:element name="ExtDebtorId" type="xs:string" fixed=""/>
																									<!-- V11.1
																									<xs:element name="EOfficeId" type="xs:short" minOccurs="0"/>
																									<xs:element name="DebtorId" type="xs:long"/>
																									<xs:element name="ExtDebtorId" type="xs:long" minOccurs="0"/>
																									-->
																									<xs:element name="GivenName" type="xs:string" minOccurs="0"/>
																									<xs:element name="Surname" type="xs:string" minOccurs="0"/>
																									<xs:element name="Type" type="xs:string" fixed=""/>
																									<!-- V11.1
																									<xs:element name="Type">
																										<xs:annotation>
																											<xs:documentation>See enum</xs:documentation>
																										</xs:annotation>
																										<xs:simpleType>
																											<xs:restriction base="xs:string">
																												<xs:enumeration value="P">
																													<xs:annotation>
																														<xs:documentation>Person</xs:documentation>
																													</xs:annotation>
																												</xs:enumeration>
																												<xs:enumeration value="C">
																													<xs:annotation>
																														<xs:documentation>Company</xs:documentation>
																													</xs:annotation>
																												</xs:enumeration>
																											</xs:restriction>
																										</xs:simpleType>
																									</xs:element>
																									-->
																									<xs:element name="CompanyName" type="xs:string" minOccurs="0"/>
																									<xs:element name="DateOfBirth" type="xs:string" fixed=""/>
																									<xs:element name="FileNumber" type="xs:string" fixed=""/>
																									<!-- V11.1
																									<xs:element name="DateOfBirth" type="xs:date" minOccurs="0"/>
																									<xs:element name="FileNumber" type="xs:string" minOccurs="0"/>
																									-->
																								</xs:all>
																							</xs:complexType>
																						</xs:element>
																					</xs:sequence>
																				</xs:complexType>
																			</xs:element>
																			<xs:element name="Defendants" minOccurs="0">
																				<xs:complexType>
																					<xs:sequence>
																						<xs:element name="Defendant" maxOccurs="unbounded">
																							<xs:complexType>
																								<xs:all>
																									<xs:element name="Address" type="xs:string" minOccurs="0"/>
																									<xs:element name="EOfficeId" type="xs:string" fixed=""/>
																									<!-- V11.1 <xs:element name="EOfficeId" type="xs:int" minOccurs="0"/> -->
																									<xs:element name="AggregateAddress" type="xs:string" minOccurs="0"/>
																									<xs:element name="AggregateName" type="xs:string" minOccurs="0"/>
																									<xs:element name="City" type="xs:string" minOccurs="0"/>
																									<xs:element name="Country" type="xs:string" minOccurs="0"/>
																									<xs:element name="DefendantId" type="xs:string" fixed=""/>
																									<!-- V11.1 <xs:element name="DefendantId" type="xs:long"/> -->
																									<xs:element name="Email" type="xs:string" minOccurs="0"/>
																									<xs:element name="Fax" type="xs:string" minOccurs="0"/>
																									<xs:element name="FileNumber" type="xs:string" fixed=""/>
																									<!-- V11.1 <xs:element name="FileNumber" type="xs:string" minOccurs="0"/> -->
																									<xs:element name="Names" type="xs:string" minOccurs="0"/>
																									<xs:element name="PostalCode" type="xs:string" minOccurs="0"/>
																									<xs:element name="Province" type="xs:string" minOccurs="0"/>
																									<xs:element name="Telephone" type="xs:string" minOccurs="0"/>
																									<xs:element name="RecordType" type="xs:string" fixed=""/>
																									<!-- V11.1
																									<xs:element name="RecordType" minOccurs="0">
																										<xs:simpleType>
																											<xs:restriction base="xs:string">
																												<xs:enumeration value="A">
																													<xs:annotation>
																														<xs:documentation>Aggregated record</xs:documentation>
																													</xs:annotation>
																												</xs:enumeration>
																												<xs:enumeration value="D">
																													<xs:annotation>
																														<xs:documentation>Detailed record</xs:documentation>
																													</xs:annotation>
																												</xs:enumeration>
																											</xs:restriction>
																										</xs:simpleType>
																									</xs:element>
																									-->
																								</xs:all>
																							</xs:complexType>
																						</xs:element>
																					</xs:sequence>
																				</xs:complexType>
																			</xs:element>
																			<xs:element name="JudgementInfos" minOccurs="0">
																				<xs:complexType>
																					<xs:sequence>
																						<xs:element name="JudgementInfo" maxOccurs="unbounded">
																							<xs:complexType>
																								<xs:all>
																									<xs:element name="EOfficeId" type="xs:string" fixed=""/>
																									<!-- V11.1 <xs:element name="EOfficeId" type="xs:int" minOccurs="0"/> -->
																									<xs:element name="CostAmount" type="xs:double" minOccurs="0"/>
																									<xs:element name="CostCurrency" type="xs:string" fixed=""/>
																									<!-- V11.1
																									<xs:element name="CostCurrency" minOccurs="0">
																										<xs:simpleType>
																											<xs:restriction base="xs:string">
																												<xs:enumeration value="CDN"/>
																											</xs:restriction>
																										</xs:simpleType>
																									</xs:element>
																									-->
																									<xs:element name="CostInterestRate" type="xs:double" minOccurs="0"/>
																									<xs:element name="JudgmentAmount" type="xs:double" minOccurs="0"/>
																									<xs:element name="JudgmentCurrency" type="xs:string" fixed=""/>
																									<xs:element name="JudgmentInfoId" type="xs:string" fixed=""/>
																									<!-- V11.1
																									<xs:element name="JudgmentCurrency" minOccurs="0">
																										<xs:simpleType>
																											<xs:restriction base="xs:string">
																												<xs:enumeration value="CDN"/>
																											</xs:restriction>
																										</xs:simpleType>
																									</xs:element>
																									<xs:element name="JudgmentInfoId" type="xs:long" minOccurs="0"/>
																									-->
																									<xs:element name="JudgmentInterestRate" type="xs:double" minOccurs="0"/>
																									<xs:element name="FileNumber" type="xs:string" fixed=""/>
																									<!--V11.1 <xs:element name="FileNumber" type="xs:string" minOccurs="0"/>-->
																									<xs:element name="StartDateCostInterest" type="xs:dateTime" minOccurs="0"/>
																									<xs:element name="StartDateJudgementInterest" type="xs:dateTime" minOccurs="0"/>
																								</xs:all>
																							</xs:complexType>
																						</xs:element>
																					</xs:sequence>
																				</xs:complexType>
																			</xs:element>
																			<xs:element name="LockVersion" type="xs:string" fixed=""/>
																			<xs:element name="PublicComments" type="xs:string" fixed=""/>
																			<!-- V11.1
																			<xs:element name="LockVersion" type="xs:long">
																				<xs:annotation>
																					<xs:documentation>It is only for internal use. Not to be used by the client</xs:documentation>
																				</xs:annotation>
																			</xs:element>
																			<xs:element name="PublicComments" type="xs:string" minOccurs="0"/>
																			-->
																			<xs:element name="Solicitors" minOccurs="0">
																				<xs:complexType>
																					<xs:sequence>
																						<xs:element name="Solicitor">
																							<xs:complexType>
																								<xs:all>
																									<xs:element name="Address" type="xs:string" minOccurs="0"/>
																									<xs:element name="EOffice" type="xs:string" fixed=""/>
																									<xs:element name="AggregateField" type="xs:string" fixed=""/>
																									<xs:element name="FileNumber" type="xs:string" fixed=""/>
																									<!-- V11.1
																									<xs:element name="EOffice" type="xs:int" minOccurs="0">
																										<xs:annotation>
																											<xs:documentation>Enforcement office number</xs:documentation>
																										</xs:annotation>
																									</xs:element>
																									<xs:element name="AggregateField" type="xs:string" minOccurs="0"/>
																									<xs:element name="FileNumber" type="xs:string" minOccurs="0"/>
																									-->
																									<xs:element name="FirmName" type="xs:string" minOccurs="0"/>
																									<xs:element name="GivenName" type="xs:string" fixed=""/>
																									<xs:element name="RecordType" type="xs:string" fixed=""/>
																									<xs:element name="SameAsCreditorInd" type="xs:string" fixed=""/>
																									<xs:element name="SolicitorId" type="xs:string" fixed=""/>
																									<!-- V11.1
																									<xs:element name="GivenName" type="xs:string" minOccurs="0"/>
																									<xs:element name="RecordType">
																										<xs:simpleType>
																											<xs:restriction base="xs:string">
																												<xs:enumeration value="A">
																													<xs:annotation>
																														<xs:documentation>Aggregated record</xs:documentation>
																													</xs:annotation>
																												</xs:enumeration>
																												<xs:enumeration value="D">
																													<xs:annotation>
																														<xs:documentation>Detailed record</xs:documentation>
																													</xs:annotation>
																												</xs:enumeration>
																											</xs:restriction>
																										</xs:simpleType>
																									</xs:element>
																									<xs:element name="SameAsCreditorInd" type="xs:boolean"/>
																									<xs:element name="SolicitorId" type="xs:long"/>
																									-->
																									<xs:element name="Surname" type="xs:string" minOccurs="0"/>
																								</xs:all>
																							</xs:complexType>
																						</xs:element>
																					</xs:sequence>
																				</xs:complexType>
																			</xs:element>
																			<xs:element name="WritFormatId" type="xs:string" fixed=""/>
																			<!-- V11.1 <xs:element name="WritFormatId" type="xs:long" minOccurs="0"/> -->
																			<xs:element name="WritsSummary">
																				<xs:complexType>
																					<xs:all>
																						<xs:element name="ActionNumber" type="xs:string" minOccurs="0"/>
																						<xs:element name="AddStatutoryFeeInd" type="xs:string" fixed=""/>
																						<xs:element name="ApplicationName" type="xs:string" fixed=""/>
																						<xs:element name="AssignmentDate" type="xs:string" fixed=""/>
																						<xs:element name="BankruptcyWithdrawalInd" type="xs:string" fixed=""/>
																						<xs:element name="BlockedInd" type="xs:string" fixed=""/>
																						<xs:element name="CanExpireInd" type="xs:string" fixed=""/>
																						<xs:element name="CareOfSolicitorInd" type="xs:string" fixed=""/>
																						<xs:element name="Location" type="xs:string" fixed=""/>
																						<!-- V11.1
																						<xs:element name="AddStatutoryFeeInd" type="xs:boolean"/>
																						<xs:element name="ApplicationName" type="xs:byte"/>
																						<xs:element name="AssignmentDate" type="xs:date" minOccurs="0"/>
																						<xs:element name="BankruptcyWithdrawalInd" type="xs:boolean"/>
																						<xs:element name="BlockedInd" type="xs:boolean"/>
																						<xs:element name="CanExpireInd" type="xs:boolean"/>
																						<xs:element name="CareOfSolicitorInd" type="xs:boolean"/>
																						<xs:element name="Location" type="xs:string" minOccurs="0"/>
																						-->
																						<xs:element name="CourtType" minOccurs="0">
																							<xs:annotation>
																								<xs:documentation>The type of court where the writ was filed. OTHER, SCJ - SCC, SCJ - CIVIL, SCJ - FAMILY, SCJ - CRIMINAL, OCJ - CRIMINAL, OCJ - FAMILY, UFC</xs:documentation>
																							</xs:annotation>
																						</xs:element>
																						<xs:element name="CreateDate" type="xs:string" fixed=""/>
																						<xs:element name="CreatedByRefileInd" type="xs:string" fixed=""/>
																						<xs:element name="DeclareDate" type="xs:string" fixed=""/>
																						<xs:element name="DeclareReceivedInd" type="xs:string" fixed=""/>
																						<xs:element name="DeleteDate" type="xs:string" fixed=""/>
																						<!-- V11.1
																						<xs:element name="CreateDate" type="xs:date"/>
																						<xs:element name="CreatedByRefileInd" type="xs:boolean"/>
																						<xs:element name="DeclareDate" type="xs:date" minOccurs="0"/>
																						<xs:element name="DeclareReceivedInd" type="xs:boolean"/>
																						<xs:element name="DeleteDate" type="xs:date" minOccurs="0"/>
																						-->
																						<xs:element name="EffectiveDate" type="xs:date"/>
																						<xs:element name="EnforcementOffice" type="xs:string"/>
																						<xs:element name="ExpirationDate" type="xs:string" fixed=""/>
																						<!-- V11.1 <xs:element name="ExpirationDate" type="xs:date" minOccurs="0"/> -->
																						<xs:element name="FileNumPrefix" type="xs:string"/>
																						<xs:element name="FileNumSearchSuffix" type="xs:string" minOccurs="0"/>
																						<!-- send blank -->
																						<xs:element name="FileNumSuffix" type="xs:string" fixed=""/>
																						<xs:element name="FiledByFROInd" type="xs:string" fixed=""/>
																						<xs:element name="FiledInLandTitlesInd" type="xs:string" fixed=""/>
																						<xs:element name="GarnishNumber" type="xs:string" fixed=""/>
																						<xs:element name="InactiveDate" type="xs:string" fixed=""/>
																						<xs:element name="InactiveReason" type="xs:string" fixed=""/>
																						<!-- V11.1
																						<xs:element name="FileNumSuffix" type="xs:string"/>
																						<xs:element name="FiledByFROInd" type="xs:boolean"/>
																						<xs:element name="FiledInLandTitlesInd" type="xs:boolean"/>
																						<xs:element name="GarnishNumber" type="xs:string" minOccurs="0"/>
																						<xs:element name="InactiveDate" type="xs:date" minOccurs="0"/>
																						<xs:element name="InactiveReason" type="xs:string" minOccurs="0"/>
																						-->
																						<xs:element name="IssueDate" type="xs:date"/>
																						<!-- send blank -->
																						<xs:element name="NewFileNum" type="xs:string" fixed=""/>
																						<xs:element name="OldFileNum" type="xs:string" fixed=""/>
																						<xs:element name="PostDate" type="xs:string" fixed=""/>
																						<xs:element name="Priority" type="xs:string" fixed=""/>
																						<xs:element name="RemoteUpdateAppId" type="xs:string" fixed=""/>
																						<xs:element name="RemoteUpdateFunctionId" type="xs:string" fixed=""/>
																						<xs:element name="SchemaNumber" type="xs:string" fixed=""/>
																						<xs:element name="StoreJudgmentInfoInd" type="xs:string" fixed=""/>
																						<xs:element name="SupportWritInd" type="xs:string" fixed=""/>
																						<xs:element name="WritStatus" type="xs:string" fixed=""/>
																						<xs:element name="WritType" type="xs:string" fixed=""/>
																						<!-- V11.1
																						<xs:element name="NewFileNum" type="xs:string" minOccurs="0"/>
																						<xs:element name="OldFileNum" type="xs:string" minOccurs="0"/>
																						<xs:element name="PostDate" type="xs:date"/>
																						<xs:element name="Priority" type="xs:string" minOccurs="0"/>
																						<xs:element name="RemoteUpdateAppId" type="xs:int" minOccurs="0"/>
																						<xs:element name="RemoteUpdateFunctionId" type="xs:int" minOccurs="0"/>
																						<xs:element name="SchemaNumber" type="xs:string" minOccurs="0"/>
																						<xs:element name="StoreJudgmentInfoInd" type="xs:boolean"/>
																						<xs:element name="SupportWritInd" type="xs:boolean"/>
																						<xs:element name="WritStatus">
																							<xs:simpleType>
																								<xs:restriction base="xs:string">
																									<xs:enumeration value="P">
																										<xs:annotation>
																											<xs:documentation>Posted</xs:documentation>
																										</xs:annotation>
																									</xs:enumeration>
																								</xs:restriction>
																							</xs:simpleType>
																						</xs:element>
																						<xs:element name="WritType">
																							<xs:annotation>
																								<xs:documentation>MOR - Ministry of Revenue Warrant of Seizure and Sale, S - Old writ type present only for backward compatibility, X - Old writ type present only for backward compatibility, CIV - Writ of Seizure and Sale issued by Superior Court – Civil Division, FLR - Writ of Seizure and Sale – issued under rule 28 of the FLR, SCC - Writ of Seizure and Sale of Lands issued by the SCC, WSB - Writ filed by the WSIB, CRA - Certificate of Proof of Claim under the Creditor’s Relief Act, MOF - Old writ type present only for backward compatibility, FED - Writ of Seizure and Sale issued by a Federal Court, BLW - Writ of Fieri Facis issued by the Superior Court – Criminal Division, BLL - Bail Lien, LAL - Legal Aid Lien, GEN - General filing, not covered by writ types indicated above, TRI - Tribunal Decision/Order</xs:documentation>
																							</xs:annotation>
																						</xs:element>
																						-->
																					</xs:all>
																				</xs:complexType>
																			</xs:element>
																			<xs:element name="Certificate">
																				<xs:complexType>
																					<xs:sequence>
																						<xs:element name="CertificateNumber" type="xs:string">
																							<xs:annotation>
																								<xs:documentation>The unique identifier of certificate generated by system</xs:documentation>
																							</xs:annotation>
																						</xs:element>
																						<xs:element name="CertificateType">
																							<xs:annotation>
																								<xs:documentation>See enum</xs:documentation>
																							</xs:annotation>
																							<xs:simpleType>
																								<xs:restriction base="xs:string">
																									<xs:enumeration value="A">
																										<xs:annotation>
																											<xs:documentation>Abstract certificate</xs:documentation>
																										</xs:annotation>
																									</xs:enumeration>
																								</xs:restriction>
																							</xs:simpleType>
																						</xs:element>
																						<xs:element name="CertificateDate" type="xs:date">
																							<xs:annotation>
																								<xs:documentation>The creation date of certificate</xs:documentation>
																							</xs:annotation>
																						</xs:element>
																						<xs:element name="CertificateImage" type="xs:base64Binary">
																							<xs:annotation>
																								<xs:documentation>It contans base64 encoded document</xs:documentation>
																							</xs:annotation>
																						</xs:element>
																					</xs:sequence>
																				</xs:complexType>
																			</xs:element>
																		</xs:all>
																	</xs:complexType>
																</xs:element>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element ref="Reference"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element ref="Errors" minOccurs="0"/>
				<xs:element ref="StatusCode"/>
			</xs:all>
		</xs:complexType>
	</xs:element>
</xs:schema>
